html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --unique-font: 'Space Mono', monospace;
    --font-size: 14px;
    --mobile-screen: 375px;
    --desktop-screen: 1440px;
    --primary: #1db489;
    --secondary: #dc414c;
/* ------------------ Redes ------------------ */
    --facebook: #198ff5;
    --twitter: #1ca0f2;
    --instagram: linear-gradient(to right, #fdc468, #df4996);
    --youTube: #c4032a;
/* ----------------- Dark Theme -----------------*/
    --dark-toggle: linear-gradient(to right, #378fe6, #3eda82);
    --dark-BG: #1e202a;
    --dark-top-BG-pattern: #1f212e;
    --dark-hover: #383f61;
    --dark-card-BG: #252a41;
    --dark-text: #8b97c6;
    --dark-text-number: #ffffff;
/* ---------------- light theme ---------------- */
    --light-toggle: #aeb3cb;
    --light-BG: #ffffff;
    --light-top-BG-pattern: #f5f7ff;
    --light-hover: #e5eefa;
    --light-card-BG: #f0f2fa;
    --light-text: #63687e;
    --light-text-number: #1e202a;
}

/* -------------------------------- */

.body-contain-light {
    background: linear-gradient(to bottom, var(--light-top-BG-pattern) 25%, var(--light-BG) 25% 100%);
}

.body-contain-dark {
    background: linear-gradient(to bottom, var(--dark-top-BG-pattern) 25%, var(--dark-BG) 25% 100%);
}

@media only screen and (min-width: 1230px) {
    .body-contain-dark {
        background: linear-gradient(to bottom, var(--dark-top-BG-pattern) 24%, var(--dark-BG) 26% 100%);
    }

    .body-contain-light {
        background: linear-gradient(to bottom, var(--light-top-BG-pattern) 24%, var(--light-BG) 26% 100%);
    }
}

.dark-font-h1 {
    color: #fff;
}

.light-font-h1 {
    color: #000;
}

.dark-font-p {
    color: #fff;
}

.light-font-p {
    color: var(--light-text);
}

/* -------------------------------- */

body {
    height: 100%;
}

.header {
    margin: 1rem 3rem;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px) {
    .header {
        flex-direction: column;
    }
}

.social-media {
    font-family:  var(--unique-font);
    margin: 0rem 0 -0.1rem 0;
    font-size: 2.2rem;
}

.followers {
    margin: -0.5rem 0 0 0;
    font-size: 1rem;
}

.theme {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 800px) {
    .theme {
        margin-top: 1rem;
    }
}

.mode {
    margin: 0.1rem 0.4rem 0.1rem 0;
    font-family: var(--unique-font);
    font-size: 1.2rem;
    font-weight: 400;
}

@media only screen and (max-width: 800px) {
    .mode {
        margin-left: 0;
    }
}

.btn-toggle {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2.1rem;
}

.btn-toggle input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--dark-toggle);
    transition: .4s;
    border-radius: 34px;
}

.toggle2:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background: var(--dark-top-BG-pattern);
    transition: .4s;
    border-radius: 50%;
}

input[type="checkbox"]:focus +.toggle2 {
    box-shadow: 0 0 1px #ffffff;
}

input[type="checkbox"]:checked + .toggle2:before  {
    transform: translateX(1.85rem);
    border: 24px;
    border-color: #fff;
    background: var(--light-card-BG);
}

main {
    margin: 2rem 6rem;
}

.cards-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

@media only screen and (max-width: 718px) {
    .cards-area {
        justify-content: center;
    }
}

.card {
    width: 15rem;
    height: 14rem;
    margin: 1rem 0.5rem;
    border-radius: 5px;
    padding: 2rem 5rem;
    /* --dark-card-BG */
    /* --light-card-BG */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-bg-light {
    background: var(--light-card-BG);
}

.card-bg-light:hover {
    background: var(--light-hover);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.card-bg-dark {
    background: var(--dark-card-BG);
}

.card-bg-dark:hover {
    background: var(--dark-hover);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.border-top {
    position: absolute;
    width: 15rem;
    height: 7px;
    border-radius: 5px 5px 0 0;
    margin-top: -2rem;
    margin-left: 0;
}

.top-facebook {
    background: var(--facebook);
}

.top-twitter {
    background: var(--twitter);
}

.top-youtube {
    background: var(--youTube);
}

.top-instagram {
    background: var(--instagram);
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 1rem;
}

.facebook-img{
    width: 22px;
    height: 22px;
    margin: 0 1rem;
}

.twitter-img{
    width: 22px;
    height: 22px;
    margin: 0 1rem;
}

.instagram-img{
    width: 22px;
    height: 22px;
    margin: 0 1rem;
}

.facebook-img{
    width: 22px;
    height: 22px;
    margin: 0 1rem;
}

.symbol {
    font-size: 1.1rem;
    color: var(--light-text);
}

.social-user-facebook {
    color: var(--light-text);
    font-family: var(--unique-font);
    font-size: 0.8rem;
    text-transform: capitalize;
    width: 7rem;
}

.social-user {
    color: var(--light-text);
    font-family: var(--unique-font);
    font-size: 0.8rem;
    text-transform: capitalize;
}

.number {
    color: var(--light-text-number);
    font-family: var(--unique-font);
    margin-top: -3rem;
}

.followers-number {
    text-align: center;
    font-size: 3.5rem;
}

.number>p {
    text-transform: uppercase;
    margin-top: -3rem;
    letter-spacing: 0.5rem;
    color: var(--light-text);
}

.today {
    display: flex;
    align-items: center;
    max-width: 100%;
    font-family: var(--unique-font);
    color: #1db489;
}

.up-Arrow {
    width: 10px;
    height: 10px;
    margin-right: 0.5rem;
    fill: #1db489;
    transform: rotate(-90deg);
    font-family: var(--unique-font);
}

.today-number {
    font-size: 0.6rem;
    word-spacing: -0.2rem;
}

.today-number-youtube {
    color: #c4032a;
    font-size: 0.6rem;
    word-spacing: -0.2rem;
}
.down-Arrow {
    width: 10px;
    height: 10px;
    margin-right: 0.5rem;
    fill: #c4032a;
    transform: rotate(90deg);
    font-family: var(--unique-font);
}

.title {
    font-family: var(--unique-font);
}

.card-overview {
    width: 15rem;
    height: 8rem;
    margin: 1rem 0.5rem;
    border-radius: 5px;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-overview {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;
    margin: -1.5rem 0;
}

.pages-description {
    font-family: var(--unique-font);
    font-weight: bold;
    word-spacing: -5px;
}

.number-description-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    margin: -0.4rem 0;
}

.number-overview {
    font-size: 2rem;
    font-family: var(--unique-font);
    font-weight: 700;
}

.icon-number {
    display: flex;
    align-items: center;
}

.icon-number .today-number {
    color: #1db489;
}